<phpunit
	bootstrap="tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	stopOnFailure="true"
	>
	<testsuites>
		<testsuite>
			<directory prefix="test-" suffix=".php">./tests/</directory>
			<!--<directory prefix="stest-" suffix=".php">./tests/selenium/</directory>-->
		</testsuite>
	</testsuites>

	<logging>
		<log type="coverage-html" target="/home/scrutinizer/build/coverage"/>
		<log type="coverage-clover" target="/home/scrutinizer/build/logs/clover.xml"/>
		<log type="junit" target="/home/scrutinizer/build/logs/junit.xml" logIncompleteSkipped="false"/>
	</logging>
</phpunit>
