/* Pluplodar
----------------------------------------------------------------------------------------------------*/
.upload-error {
    background: red;
    border: 3px black dashed;
    display: block !important;
    clear: both;
    padding: 3px 0;
    color: #FFF;
    font-weight: bold;
}

#upload-msg {
    display: block;
    clear: both;
}

/* SMALL THUMBS START */
#content .category_grid_view li a.post_img {
    height: 65px;
    width: 90%;
    overflow: hidden;
}

#content .category_grid_view li a.post_img img {
    margin: 0 auto;
    display: block;
    height: 65px;
}

#content .category_list_view li a.post_img {
    height: 110px;
    width: 165px;
    overflow: hidden;
}

#content .category_list_view li a.post_img img {
    margin: 0 auto;
    display: block;
    height: 110px;
}

#sidebar .recent_comments li img.thumb {
    width: 40px;
}

.post_img_tiny img {
    width: 35px;
}

.single_post_blog img.alignleft {
    width: 96%;
    height: auto;
}

.ecu_images {
    width: 100%;
}

/* SMALL THUMBS END */

.filelist {
    width: 100%;
}

.filelist .file {
    padding: 5px;
    background: #ececec;
    border: solid 1px #ccc;
    margin-bottom: 4px;
    clear: both;
    text-align: left;
}

.filelist .fileprogress {
    width: 0%;
    background: #3385FF;
    height: 5px;
}

.plupload-thumbs {
    clear: both;
    margin: 20px 0px;

}

.plupload-thumbs {
    //.thumb {
    //    border: 1px solid #EBEBEB;
    //    float: left;
    //    height: 50px;
    //    margin-right: 15px;
    //    width: 50px;
    //    margin-bottom: 15px;
    //    position: relative;
    //    padding: 5px;
    //}
    .thumb{
        border: 1px solid #EBEBEB;
        float: left;
        height: 70px;
        width: 108px;
        position: relative;
        padding: 3px;
        margin: 2px;
        box-sizing: content-box;

        &:hover{
            .gd-thumb-actions{
                display: block;
            }
        }

    }

    .gd-thumb-actions {
        background-color:rgba(0, 0, 0, 0.5);
        margin-top: -22px;
        position: relative;
        color: #fff;
        font-size: 16px;
        display: none;
        z-index: 3;
        line-height: 0;
        padding: 3px 0;

        .thumbeditlink, .thumbremovelink {
            width: 50%;
            display: inline-block;
            cursor: pointer;
        }
    }

}



.plupload-thumbs .thumb.geodir_file {
    border: none;
    width: auto;

}

.plupload-thumbs .thumb img {
    width: 100% !important;
    height: 100% !important;
}

.plupload-thumbs .thumb {
    img,i.gd-file-info {
        cursor: move;
        width: 100% !important;
        height: 100% !important;
        z-index: 1;
    }

    i.gd-file-info{
        font-size: 50px;
        padding-top: 10%;
        z-index: 1;
    }


}


.plupload-thumbs .thumb .thumbi {
    position: absolute;
    right: -10px;
    top: -8px;
    height: 18px;
    width: 18px;
}

.plupload-thumbs .thumb .thumbi a {
    background: url(../images/delete.png) no-repeat 0px 0px;
    text-indent: -8000px;
    display: block;
}

.plupload-thumbs .gd-title-preview,
.plupload-thumbs .gd-caption-preview {
    position: absolute;
    top: 10px;
    left: 5px;
    font-size: 10px;
    line-height: 10px;
    padding: 1px;
    background: rgba(255, 255, 255, 0.5);
    z-index: 2;
    overflow: hidden;
    height: 10px;
}

.plupload-thumbs .gd-caption-preview{
    top: auto;
    bottom: 10px;
}

.wp-admin .thumb.embed-responsive .gd-thumb-actions.justify-content-around {
    margin-top: -20px;
    justify-content: space-around;
}
.wp-admin .thumb.embed-responsive:hover .gd-thumb-actions.justify-content-around {
    display: flex;
}

.wp-admin .thumb.embed-responsive .gd-thumb-actions > * {
    width: auto;
    font-size: 13px;
    line-height: 1;
    color: #fff !important;
}

.postbox .inside .plupload-thumbs .thumb,
.geodir-add-files .plupload-thumbs .thumb {
	height: 85.33px;
	width: 128px;
}

.columns-2 #postbox-container-1 .postbox .inside .plupload-thumbs .thumb {
	height: 72px;
	width: 108px;
}

.postbox .inside .plupload-thumbs .thumb img.gd-file-info,
.geodir-add-files .plupload-thumbs .thumb img.gd-file-info {
	max-width: 100%;
	max-height: 100%;
	width: inherit !important;
	height: inherit !important;
	vertical-align: middle;
	object-fit: contain;
}