#heading_general {
    padding: 10px;
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 15px;
}

#container_general {
    padding: 0px;
    margin: 20px 0px;
    width: auto;
    margin-left: 6px;
    margin-right: 15px;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.side-sortables {
    /* width:280px;*/
    border: 1px #DFDFDF solid;
    background: #F5F5F5;
}

.side-sortables p {
    padding: 0 10px;
}

.side-sortables h3 {
    text-shadow: 0 1px 0 #FFFFFF;
    font-size: 15px;
    font-weight: normal;
    line-height: 1;
    padding: 8px 10px;
    margin: 0;
    border-bottom: 1px #DFDFDF solid;
    text-shadow: 0 1px 0 #FFFFFF;
}

.side-sortables .inside {
    position: relative;
    margin: 10px 0;
    line-height: 1.4em;
    padding: 0 12px 0 10px;
}

.side-sortables .posttype-tabs {
    margin-bottom: 0;
}

.side-sortables .posttype-tabs li {
    display: inline;
    margin-bottom: 0;
    padding: 5px 5px 1px 5px
}

.side-sortables .posttype-tabs li a {
    color: #333;
    text-decoration: none;
}

.side-sortables .gt-tabs-panel {
    height: auto;
    min-height: 300px;
    overflow: visible;
    padding: 0.5em 0 0.5em 4px;
    background-color: #FFFFFF;
    border: 1px #DFDFDF solid;
}

#geodir-available-fields ul li {
    float: left;
    list-style: none outside none;
    width: 50%;
}

#geodir-available-fields ul.full li {
    float: left;
    list-style: none outside none;
    width: 100%;
}

.gt-draggable-form-items {
    border: 1px solid #BBBBBB;
    color: #464646;
    display: block;
    margin-right: 8px;
    padding: 4px 0 4px 34px;
    position: relative;
    text-align: left;
    text-decoration: none;
}

.gt-draggable-form-items b {
    background-color: transparent;
    background: url(../images/sprite.png);
    display: inline-block;
    height: 16px;
    left: 8px;
    line-height: 16px;
    position: absolute;
    width: 18px;
}

.menu-item-handle.fieldset, .gt-fieldset {
}

.gt-taxonomy b {
    background-position: -10px -10px;
}

.gt-text b {
    background-position: -10px -91px;
}

.gt-link b {
    background-position: -10px -91px;
}

.gt-textarea b {
    background-position: -10px -176px;
}

.gt-checkbox b {
    background-position: -10px -261px;
}

.gt-select b {
    background-position: -10px -10px;
}

.gt-multiselect b {
    background-position: -10px -10px;
}

.gt-datepicker b {
    background-position: -10px -218px;
}

.gt-url b {
    background-position: -10px -360px;
}

.gt-digits b, .gt-captcha b {
    background-position: -10px -454px;
}

.gt-phone b {
    background-position: -10px -532px;
}

.gt-file b {
    background-position: -10px -590px;
}

.gt-radio b {
    background-position: -10px -53px;
}

.gt-address b {
    background-position: -10px -132px;
}

.gt-email b {
    background-position: -10px -306px;
}

.gt-currency b {
    background-position: -10px -408px;
}

.gt-time b {
    background-position: -10px -493px;
}

.gt-html b {
    background-position: -10px -562px;
}

.gt-instructions b {
    background-position: -10px -623px;
}

.side-sortables .hndle {
    cursor: move;
    background: #F1F1F1
}

.side-sortables .handlediv {
    float: right;
    height: 31px;
    width: 27px;
    cursor: pointer;
}

.side-sortables .handlediv:hover {
    background: url(../images/arrows.png) no-repeat 6px 7px;
}

.gt-datetime b {
    background-position: -10px -218px;
}

.geodir-sort-geodir_timing b {
    background-position: -10px -493px;
}

.gt-enum.geodir-sort-is_featured b {
    background-position: -10px 104px;
}

.gt-float.geodir-sort-overall_rating b {
    background-position: -10px 211px;
}

.gt-bigint.geodir-sort-comment_count b {
    background-position: -10px 35px;
}

.gt-random.geodir-sort-post_title b {
    background-position: -10px 70px;
}

/*.general-form-builder-frame{ margin-left:290px;}*/
/*.side-sortables{ margin-left:-290px; float:left;}*/

.field_row_main {
    margin: 0 7px;
    background: #fff;
}

.field_row_main ul {
    margin-top: 0;
}

.field_row_main .title {
    border: 1px #DFDFDF solid;
    background: #F1F1F1;
    height: auto;
    line-height: 32px;
    overflow: hidden;
    padding-left: 10px;
    position: relative;
    text-shadow: 0 1px 0 #FFFFFF;
    word-wrap: break-word;
    padding-top: 3px;
    margin-bottom: 1px;
    cursor: move;
}

.field_row_main .title .handlediv {
    float: right;
    height: 26px;
    width: 26px;
    margin: 2px;
    cursor: pointer;
    background: url(../images/arrows_down.png) no-repeat center center;
    vertical-align: middle;
}

.field_row_main .title .handlediv.close {
    background: url(../images/cross-img.png) no-repeat center center;
}

.field_row_main .title .handlediv.move {
    background: url(../images/move.png) no-repeat center center;
}

.field_row_main .gt-fieldset {
    background: linear-gradient(to bottom, #E3E3E3 0px, #CCCCCC 100%) repeat scroll 0 0 #E3E3E3;
    box-shadow: 0 1px 0 #E3E3E3 inset;
}

.field_row_main_sort {
    float: left;
    margin: 0 7px;
    border: 1px solid #dfdfdf;
    background: #fff;
    padding: 10px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    min-height: 405px;
    width: 95%;
}

.field_row_main_sort ul {
    margin-top: 0;
}

.field_row_main_sort .title {
    border: 1px #DFDFDF solid;
    background: #F1F1F1;
    height: auto;
    line-height: 32px;
    overflow: hidden;
    padding-left: 10px;
    position: relative;
    text-shadow: 0 1px 0 #FFFFFF;
    word-wrap: break-word;
    padding-top: 3px;
    margin-bottom: 1px;
    cursor: move;
}

.field_row_main_sort .title .handlediv {
    float: right;
    height: 26px;
    width: 26px;
    margin: 2px;
    cursor: pointer;
    background: url(../images/arrows_down.png) no-repeat center center;
    vertical-align: middle;
}

.field_row_main_sort .title .handlediv.close {
    background: url(../images/cross-img.png) no-repeat center center;
}

.field_row_main_sort .title .handlediv.move {
    background: url(../images/move.png) no-repeat center center;
}

.field_row_main_sort .gt-fieldset {
    background: linear-gradient(to bottom, #E3E3E3 0px, #CCCCCC 100%) repeat scroll 0 0 #E3E3E3;
    box-shadow: 0 1px 0 #E3E3E3 inset;
}

#container_general ul li table tr td input[type="button"] {
    padding: 3px 10px;
    background: #ececec;
    border: 1px #cbcbcb solid;
    border-radius: 3px;
    height: auto;
    width: auto;
    text-shadow: 0 1px 0 #FFFFFF;
}

#geodir-selected-fields input[type="text"], #geodir-selected-fields select {
    width: 100%;
}

#container_general {
    margin-right: 0;
}

.side-sortables {
    width: 32%;
    float: left;
}

/*.field_row_main{ width:63%; float:left;}*/
.field_row_main_sort {
    width: 63%;
    float: left;
}

#gt-form-builder-tab ul {
    margin: 0;
}

#gt-form-builder-tab-sort ul {
    margin: 0;
}

@media screen and (max-width: 768px) {
    .field_row_main {
        margin: 0;
        width: auto;
        float: none;
    }

    .field_row_main_sort {
        margin: 0;
        width: auto;
        float: none;
    }

    .side-sortables {
        width: auto;
        float: none;
        margin-bottom: 15px;
    }
}

@media screen and (min-width: 768px) and (max-width: 920px) {
    .field_row_main {
        margin: 0;
        width: 54%;
    }

    .field_row_main_sort {
        margin: 0;
        width: 54%;
    }

    .side-sortables {
        width: 38%;
        margin-right: 15px;
        margin-bottom: 15px;
    }
}

@media screen and (min-width: 920px) and (max-width: 1080px) {
    .field_row_main {
        margin: 0;
        width: 48%;
    }

    .field_row_main_sort {
        margin: 0;
        width: 48%;
    }

    .side-sortables {
        width: 42%;
        margin-right: 15px;
        margin-bottom: 15px;
    }
}

@media screen and (min-width: 1080px) and (max-width: 2080px) {
    /*.field_row_main{ margin:0; width:48%;}*/
    .field_row_main_sort {
        margin: 0;
        width: 48%;
    }

    #geodir-available-fields.side-sortables {
        width: 42%;
        margin-right: 15px;
        margin-bottom: 15px;
    }

    #geodir-selected-fields.side-sortables {
        width: 55%;
        margin-bottom: 15px;
    }
}