/****-------------------------map--------------------------****/

.geodir_map img {
    max-width: inherit !important;
}

#map_canvas img {
    max-width: inherit !important;
}

#home_map_canvas img {
    max-width: inherit !important;
}

.iprelative {
    position: relative;
}

/* FlexSlider container Styles
*********************************/
.geodir-map-loader {
    background: url(../images/classic-loader.gif) no-repeat center center #F0F0F0;
    width: 100%;
    height: auto;
    min-height: 100%;
    position: absolute;
    z-index: 9999;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .2);
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, .2);
    -o-box-shadow: 0 1px 4px rgba(0, 0, 0, .2);
    zoom: 1;
}

.advmap_nofound {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #AA0000;
    border: 1px solid #DDDDDD;
    display: none;
    padding: 8px;
    position: absolute;
    bottom: 35%;
    left: 25%;
    width: 50%;
    height: 80px;
}

.advmap_nofound h3 {
    margin: 0;
    padding: 0;
}

.advmap_nofound p {
    margin-top: 5px;
    font-size: 12px;
}

#advmap_counter {
    position: absolute;
    bottom: 55px;
    right: 10px;
    width: 55px;
    height: 50px;
    display: none;
    text-align: center !important;
    line-height: 45px;
    font-size: 18px;
    color: #ffe400;
}

/* gmap bubble styles */


.gm-style .gm-style-iw{
  left: 0px !important;
  top: 0px !important;
  width: 250px !important;
}

.gm-style .gm-style-iw > div, .gm-style .gm-style-iw > div > div{
  overflow: visible !important;
}

.gm-style .gm-style-iw + div{
    right: 3px !important;
    top: 2px !important;
}

.gd-bubble {
    max-width: 250px;
    width: 190px;
    overflow: visible;
}

.gd-bubble h4 {
    margin-top: 3px;
}

.geodir-bubble_image {
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    width: 100%;
  height: calc(50% - 11px);
  margin: 0px !important;
  padding: 0px !important;
}

.geodir-bubble_image:after {
    content: '';
    display: block;
    margin-top: 65%;
}

.geodir-bubble_image .geodir_thumbnail {
    padding: 0px;
    float: left;
    width: 100px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0%;
    width: 100%;
}

.geodir-bubble-meta-side {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    padding: 0 5px 5px 5px;
    overflow-y: auto;
    margin-top: -6px;
  height: calc(50% - 11px);
  box-sizing: border-box;
}

.geodir-bubble_desc div,
.geodir-bubble_desc h4{
  box-sizing: border-box;
}

.geodir-bubble-meta-side::-webkit-scrollbar
{
  width: 5px;  /* for vertical scrollbars */
  height: 5px; /* for horizontal scrollbars */
}

.geodir-bubble-meta-side::-webkit-scrollbar-track
{
  background: rgba(128, 128, 128, 0.1);
}

.geodir-bubble-meta-side::-webkit-scrollbar-thumb
{
  background: rgba(128, 128, 128, 0.5);
}

.geodir-bubble-meta-side span {
    margin: 5px 0px;
}

.geodir-bubble-meta-side i.fa{
    margin-right: 3px;
}

.geodir-bubble-meta-side .geodir_more_info.post_address span[itemprop="addressLocality"],
.geodir-bubble-meta-side .geodir_more_info.post_address span[itemprop="addressRegion"],
.geodir-bubble-meta-side .geodir_more_info.post_address span[itemprop="postalCode"],
.geodir-bubble-meta-side .geodir_more_info.post_address span[itemprop="addressCountry"],
.geodir-bubble-meta-side .geodir_more_info.post_address br{
   display:none;
}

.geodir-bubble-meta-side span:first-child {
    margin-top: 0px;
}

.geodir-bubble_desc {
    width: 241px !important;
  overflow-y: hidden;
}

.geodir-bubble_desc h4 {
    clear: inherit;
    background-color: red;
    position: absolute;
    z-index: 10;
    width: 242px;
    padding-left: 5px;
    padding-bottom: 16px;
    margin-top: 0px;
    padding-top: 7px;
    background: linear-gradient(rgba(0,0,0,1) 100%,rgba(0,0,0,0.2) 100%);
    background: -webkit-linear-gradient(rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
    background: -moz-linear-gradient(rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
    background: -ms-linear-gradient(rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%);
    zoom: 1;

    filter: progid:DXImageTransform.Microsoft.gradient(
                    gradientType=0, startColor=0, endColorStr='#000'
    );
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(
                    gradientType=0, startColor=0, endColorStr='#000'
    );

    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}


.geodir-bubble_desc span.rating {
    display: block;
}

.geodir-bubble_desc span.rating li {
    margin-left: 0px;
}

.geodir-bubble_desc span.rating img {
    width: 16px;
}

.map-category-listing {
    right: 0;
    position: absolute;
    width: 20%;
    height: auto;
}

.map_category input[type="text"] {
    width: 100%;
    box-sizing: border-box;
}

.gd_rating_map {
    height: 10px;
    width: 59px;
    overflow: hidden;
    z-index: 1;
    position: relative;
}

.geodir_RatingAverage_small {
    background-color: #F90;
    position: relative;
    top: 0;
    left: 0;
    z-index: 2;
    height: 100%;
    top: -10px;
}

.geodir_Star_small {
    position: relative;
    left: 0;
    z-index: 3;
    width: 59px;
    height: 10px;
    top: -20px;
    background-position: initial;
    background-repeat: repeat no-repeat;
}

.geodir-bubble-meta-bottom .geodir-bubble-reviews {
    margin-right: 10px;

}

.geodir-bubble-meta-bottom .geodir-bubble-reviews,
.geodir-bubble-meta-bottom .geodir-bubble-fav {
    float: right;

}

.geodir-bubble-meta-bottom .geodir-bubble-fav {
    overflow: hidden;
    width: 20px;
    height: 20px;
}

.geodir-bubble-meta-bottom > span {
    display: inline-block;
}

.geodir-bubble-meta-bottom {
    font-size: 18px;
    padding-top: 5px;
    width: 94%;
    min-width: 100%;
    margin-top: -2px;
    min-width: 180px;
  height: 22px;
  bottom: 9px;
  position: absolute;
  padding: 0 5px;
}

.geodir-bubble-meta-fade{
  position: absolute;
  height: 15%;
  width: 94%;
  bottom: 20px;
  left: 1px;
  background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 60%);
  background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 60%);
  background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 60%);
  background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 60%);
}


.geodir-bubble-meta-bottom a {
    text-decoration: none;
}

.geodir-bubble-meta-bottom .geodir-addtofav a {
    visibility: hidden;
}

.geodir-bubble-meta-bottom .geodir-addtofav a i {
    visibility: visible;
}

/* MAP FULL SCREEN CSS ########################################################################## */

.triggermap {
    padding: 3px;
    position: absolute;
    z-index: 100;
    cursor: pointer;
    font-size: 20px;
    color: #FFF;
    text-shadow: 1px 1px 4px rgba(38, 38, 38, 1);
    transition: font-size 0.5s;
}

#post_mapTab .triggermap,
.geodir-content-right .triggermap,
.geodir-content-left .triggermap {
    /*margin-top: -15px;
    margin-left: -6px;*/
}

.triggermap:hover {
    font-size: 21px;
}

.map-fullscreen {
    position: fixed !important;
    left: 0px !important;
    top: 0px !important;
    width: 100% !important;
    height: 100% !important;
    z-index: 1005;
}

.body_fullscreen {
    overflow: hidden
}

.body_fullscreen .stick_trigger_container{
    position: relative;
    z-index: 150000;
}

.loading_div {
    z-index: 1;
    /*display: none;*/
    position: absolute;
    top: 0px;
    left: 0px;
    background: #000 url('../images/loading2.gif') 50% 50% no-repeat;
    color: #fff;
    text-align: center;
    opacity: 0.5;
    filter: alpha(opacity=50);
    width: 100%;
}

.loading_div_loc {
    background: #000 url('../images/loading2.gif') 50% 50% no-repeat;
    opacity: 0.5;
    filter: alpha(opacity=50);
}

#loading_div {
    z-index: 1;
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    background: #000 url('../images/loading.gif') 50% 50% no-repeat;
    color: #fff;
    text-align: center;
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.loading_div_fullscreen {
    position: fixed !important;
    left: 0px !important;
    top: 0px !important;
    width: 100% !important;
    height: 100% !important;
    z-index: 1007 !important;
}

.trigger {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 8px 13px;
    z-index: 9999999;
    cursor: pointer;
}

.trigger.triggermap_fullscreen {
    z-index: 1007 !important;
    top: auto !important;
    left: auto !important;
    bottom: 0px !important;
    right: 0px !important;
}

.trigger .fa-expand, .trigger .fa-compress {
    color: #FFF;
    text-shadow: 1px 1px 4px rgba(38, 38, 38, 1);
}

.trigger.triggeroff .fa-expand {
    display: none;
}

.trigger.triggeron .fa-compress {
    display: none;
}

.trigger_sticky {
    margin-top: -16px;
    float: right;
    padding: 8px 13px;
    z-index: 9999999;
    cursor: pointer;
    display: none;
}

.triggeroff_sticky {
    background: url(../images/minus-white-icon.png) no-repeat;
}

.triggeron_sticky {
    background: url(../images/plus-white-icon.png) no-repeat;
}

.nofound_fullscreen {
    position: fixed !important;
    top: 50% !important;
    z-index: 1007 !important;
    margin-top: -40px;
}

.TopLeft_fullscreen {
    z-index: 1006 !important;
    background-image: none !important;
}

.triggermap_fullscreen {
    z-index: 1006 !important;
    position: fixed !important;
    top: 50px !important;
    left: 0px !important;
    margin-top: 50px !important;
    margin-left: 0px !important;
}

#map_loading {
    background: url('../images/ajax-loader.gif') no-repeat;
    height: 16px;
    width: 16px;
    width: 260px;
    overflow: hidden;
    height: 100px
}

.top_banner_section {
    margin-bottom: 25px;
}

.top_banner_section_in {
    width: 100%;
    padding: 0px;
    margin: 0 auto;
    position: relative;
}

.map_category {
    position: absolute;
    right: 0px;
    bottom: 0;
    padding: 10px;
    z-index: 10;
    background: url(../images/transparent-bg.png) repeat;
    color: #FFFFFF;
    overflow-y: auto;
}

.map_category label {
    display: inline-block !important;
    padding: 2px 0;
    font: bold 13px Arial, Helvetica, sans-serif;
}

.map_category label input {
    margin-right: 4px;
}

.map_category_fullscreen {
    position: fixed !important;
    bottom: 0px !important;
    right: 0px !important;
    z-index: 1006;
}

.map-places-listing.triggermap_fullscreen {
    z-index: 1006 !important;
    position: fixed !important;
    top: auto !important;
    bottom: 0px;
}

.geodir_map_container_fullscreen {
    z-index: 99999 !important;
}

/* MAP FULL SCREEN CSS END ########################################################################## */

.geodir_map_container img {
    max-width: inherit !important;
    width: auto;
}

.geodir_map_container .main_list img {
    height: 15px;
}

.geodir_map_container {
    z-index: 80;
    position: relative;
}

#directions-options #travel-mode {
    padding: 5px;
    width: 59%;
}

#directions-options #travel-units {
    padding: 5px;
    width: 39%;
}

/* CPT ADDON CSS ########################################################################## */
.map-places-listing {
    background: url(../images/transparent-bg.png) repeat;
    padding: 8px 0px 8px 0px;
    position: absolute;
    max-width: 100%;
    width: 100%;
    margin-top: -30px;
    line-height: 1;
}

.map-places-listing ul.place-list {
    padding: 0 25px;
    margin: 0px;
}

.map-places-listing ul.place-list li {
    display: block;
    float: left;
    padding: 0 15px;
    border-right: 2px #d2d2d2 solid;
}

.map-places-listing ul.place-list li a {
    color: #fff;
    font-size: 13px;
    font-weight: 700;
    text-decoration: none;
}

.geodir-map-posttype-list ul.place-list li.gd-map-search-pt a {
    color: #ccc;
}

.geodir-map-navigation {
    position: initial;
    margin: 0 12px;
}

.geodir-map-navigation ul {
    margin: 0px;
}

.geodir-map-navigation ul li {
    display: inline-block;
    position: absolute;
    top: 8px;
    margin: 0 12px;
}

.geodir-map-navigation ul li.geodir-leftarrow {
    left: 0;
}

.geodir-map-navigation ul li.geodir-rightarrow {
    right: 0;
}

.geodir-map-navigation ul li.geodir-leftarrow a {
    color: #fff;
    font-size: 13px;
    font-weight: 700;
    height: 16px;
    width: 10px;
    text-decoration: none;
}

.geodir-map-navigation ul li.geodir-rightarrow a {
    color: #fff;
    font-size: 13px;
    font-weight: 700;
    height: 16px;
    width: 10px;
}

.fa-long-arrow-down, .fa-long-arrow-up {
    margin-left: 4px;
    cursor: pointer;
}

/*
.geodir-map-home-page .map_background .TopLeft{}
.geodir-map-home-page .map_background span.triggermap{left:2px;top:-3px}
*/
.geodir_map_container .map_background .TopLeft, .geodir_map_container .map_background span.triggermap {
    line-height: normal
}

/*
.geodir-map-listing-page .map_background .TopLeft{}
.geodir-map-listing-page .map_background span.triggermap{}
*/

.geodir-map-small .map_background .triggermap {
  /*left: 10.5px !important;
  top: 87px !important;*/
    margin: auto !important;
    font-size: 17px
}

.geodir-map-small .map_background .triggermap:hover {
    font-size: 18px
}

.geodir-map-full .map_background .triggermap {
    left: 2px;
    top: -3px
}

.geodir-map-small .map_background span.triggermap_fullscreen {
  /*left: 10.5px !important;
  top: 90px !important;*/
    margin: auto !important;
    font-size: 17px
}

.geodir-map-small .map_background span.triggermap_fullscreen:hover {
    font-size: 18px
}

.geodir-map-full .map_background span.triggermap_fullscreen {
    left: 2px !important;
    top: -3px !important;
    margin: auto !important
}

div.geodir_map_container.geodir-map-iphone .map_background .triggermap {
  /*left: 9px !important;
  top: 45px !important;*/
    margin: auto !important
}



.gd-dragg-ui:hover {
    background-color: #ebebeb !important
}


.body_fullscreen .geodir_map_container,
.body_fullscreen .geodir_popular_post_view,
.body_fullscreen .geodir_loginbox,
.body_fullscreen .geodir-custom-post-gallery,
.body_fullscreen dl.geodir-tab-head,
.body_fullscreen .geodir-direction-nav a,
.body_fullscreen .geodir_more_info i,
.body_fullscreen .geodir-company_info i,
.body_fullscreen .b_signin {
  display: none;
}
.body_fullscreen .geodir_map_container.geodir_map_container_fullscreen{
  display: block;
}

/* OpenStreetMap */
.gd-no-gmaps .geodir_map_container, .gd-no-gmaps .main_map_wrapper, .gd-no-gmaps  .geodir_marker_cluster {
    max-width: 100% !important;
}
.gd-map-none .stick_trigger_container,
.gd-map-none .geodir_map_container,
.gd-map-none #gd-tabs [data-tab="#post_map"],
.gd-map-none #geodir_post_map_row,
.gd-map-none #geodir_post_mapview_row,
.gd-map-none #geodir_post_latitude_row,
.gd-map-none #geodir_post_longitude_row,
.gd-map-none .gd-add-location-map,
.gd-no-gmaps .geodir-pinpoint,
.gd-no-gmaps .geodir-pinpoint-link,
.gd-no-gmaps #post_set_address_button,
.gd-no-gmaps #geodir_post_map_row .geodir_message_note {
    display: none !important;
}
.advmap_notloaded,
.gd-map-osm .advmap_notloaded {
    background: #ffffff none repeat scroll 0 0;
    border: 1px solid #dddddd;
    color: #aa0000;
    display: none;
    padding: 8px;
    top: calc(50% - 50px);
    position: absolute;
    width: 60%;
    left: 20%;
    max-width: 360px;
}
.advmap_notloaded p,
.gd-map-osm .advmap_notloaded p {
    margin: 0 !important;
}
.advmap_notloaded h3,
.gd-map-osm .advmap_notloaded h3 {
    margin: 0 !important;
    padding: 0 !important;
}
.geodir-map-listing-page .advmap_notloaded,
.gd-map-osm .geodir-map-listing-page .advmap_notloaded {
    width: 96%;
    left: 2%;
}
.gd-map-osm .advmap_nofound {
    height: inherit;
    z-index: 9999;
    bottom: inherit;
}
.gd-osm-gmaps .geodir_map_container .map_background span.triggermap {
    top: 0!important;
}
.geodir_map_container .leaflet-popup-content {
    margin: 0;
}
.geodir_map_container  .leaflet-popup-content .gd-bubble {
    width: auto;
}
.geodir_map_container  .leaflet-popup-content .geodir-bubble-meta-fade {
}
.geodir_map_container  .leaflet-popup-content-wrapper {
    border-radius: 0;
}
.geodir_map_container  .leaflet-popup-content-wrapper .geodir-bubble-meta-bottom {
    width: 96%;
    left: 2%;
    bottom: 30px;
}
.geodir_map_container  .leaflet-popup-content-wrapper .geodir-bubble-meta-side {
    margin-top: -1px;
}
.geodir_map_container  .leaflet-popup-content-wrapper {
    padding: 0;
}
.geodir_map_container  .leaflet-container a.leaflet-popup-close-button {
    z-index: 99;
}
.geodir_map_container  .leaflet-popup-content-wrapper #map_loading {
    width: 100%;
    height: 100%;
    min-height: 120px;
    min-width: 241px;
    background-position: center;
}
.gd-osm-gmaps .map-places-listing,
.gd-osm-gmaps .map-category-listing,
.gd-osm-gmaps .loading_div,
.gd-osm-gmaps .gd-triggered-map {
    z-index: 9999
}
.gd-osm-gmaps .leaflet-top .leaflet-control {
    margin-top: 30px
}
#post_address.ui-autocomplete-loading {
    background-image:url(../images/classic-loader.gif);
    background-repeat: no-repeat;
    background-position: center right 9px;
}
.gd-osm-results {
    background-color: #fff;
    border-radius: 2px;
    border: none !important;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    overflow: hidden;
    position: absolute !important;
    z-index: 1000;
    width: auto !important;
}
.gd-osm-results .ui-menu-item {
    border: none !important;
    border-top: 1px solid #e6e6e6 !important;
    color: #777!important;
    cursor: default;
    font-size: 12px;
    line-height: 30px;
    overflow: hidden;
    padding: 0 4px !important;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    background: none !important;
    margin: 0 !important;
    font-family: Arial,sans-serif!important;
}
.gd-osm-results .ui-menu-item span {
    color: #777;
    font-size: 11px;
}
.gd-osm-results .ui-menu-item > span .gdOQ,
.gd-osm-results .ui-menu-item > span .gdOH {
    color: #333!important;
    font-size: 12px;
}
.gd-osm-results .ui-menu-item:hover {
    background-color: #fafafa !important;
}
.gd-osm-results .ui-menu-item .fa {
    margin-right: 5px;
}
.gd-osm-results .ui-menu-item:hover .fa {
    color: #3887be!important;
}
.gd-osm-results .ui-menu-item  .gdOH {
    font-weight: 700;
}