
/****-------------------------map--------------------------****/



#geodir_wrapper .geodir_map img { max-width:inherit!important; } 
#geodir_wrapper #map_canvas img { max-width:inherit!important; } 
#geodir_wrapper #home_map_canvas img{ max-width:inherit!important; } 
.iprelative{ position:relative;}


/* FlexSlider container Styles
*********************************/ 
.geodir-map-loader { background:url(../images/classic-loader.gif) no-repeat center center #F0F0F0; width:100%; height:auto; min-height:100%; position:absolute; z-index:9999;  -webkit-border-radius: 4px; -moz-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; box-shadow: 0 1px 4px rgba(0,0,0,.2); -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.2); -moz-box-shadow: 0 1px 4px rgba(0,0,0,.2); -o-box-shadow: 0 1px 4px rgba(0,0,0,.2); zoom: 1;}


.advmap_nofound{ 
	background: none repeat scroll 0 0 #FFFFFF;
	color:#AA0000;
	border: 1px solid #DDDDDD;
    display: none;
    padding: 8px;
    position:absolute;
	bottom: 35%;
	left: 25%;
    width:50%;
	height: 80px;}

.advmap_nofound h3{margin: 0; padding: 0; }

.advmap_nofound p{ margin-top: 5px; font-size: 12px;}

#advmap_counter{position: absolute; bottom: 55px; right: 10px; width: 55px; height: 50px; display:none; text-align: center !important; line-height: 45px; font-size: 18px; color: #ffe400;}

/* gmap bubble styles */

.bubble { width:auto; height:auto; position: relative; }

.bubble h4{ margin-top: 3px; }

.bubble_image{float: left; overflow:hidden; margin:0px 10px 0px 0px; width:auto;}

.bubble_desc{ width:auto;}
.bubble_desc h4{ clear:inherit; padding-bottom:5px;}

.paddress{ background:url(../images/i_locationnew.png) no-repeat left 3px; padding:0px 5px 5px 25px; font:normal 13px arial; color:#000; line-height:18px; display:block; margin:5px 0px; }
.ptiming{ background:url(../images/i_clocknew.png) no-repeat left 3px; padding:0px 5px 5px 25px; font:normal 13px arial; color:#000; line-height:18px;display:block;}
.pcontact{ background:url(../images/i_phonenew.png) no-repeat left 3px; padding:0px 5px 5px 25px; font:normal 13px arial; color:#000; line-height:18px; display:block;}
.bubble_desc span.rating{ display:block;}
.bubble_desc span.rating li { margin-left:0px;}
.bubble_desc span.rating img { width:16px;}
/* MAP FULL SCREEN CSS ########################################################################## */

#triggermap{ background: url('../images/fullscreen.png') no-repeat;padding:12px;position:absolute;z-index:100;cursor: pointer;}

.triggermap{ background: url('../images/fullscreen.png') no-repeat;padding:12px;position:absolute;z-index:100;cursor: pointer;}
#sidebar #triggermap{ margin-top:-12px;margin-left:-11px;}

.map-fullscreen {

position: fixed !important;

left: 0px !important;

top: 0px !important;

width: 100% !important;

height: 100% !important;

z-index:1005;

}

.body_fullscreen{overflow:hidden}

.loading_div{z-index: 1;display: none; position: absolute; top: 0px; left: 0px; background: #000 url('../images/loading.gif') 50% 50% no-repeat; color: #fff; text-align: center; opacity: 0.5; filter: alpha(opacity=50); width:100%;}

#loading_div{z-index: 1;display: block; position: absolute; top: 0px; left: 0px; background: #000 url('../images/loading.gif') 50% 50% no-repeat; color: #fff; text-align: center; opacity: 0.5; filter: alpha(opacity=50);}

.loading_div_fullscreen{

position: fixed !important;

left: 0px !important;

top: 0px !important;

width: 100% !important;

height: 100% !important;

z-index:1007!important;	

}


.trigger { position:absolute; right:0; bottom:0; padding:8px 13px; z-index:9999999; cursor: pointer;}
.triggeroff{background:url(../images/minus-white-icon.png) no-repeat;}
.triggeron{background:url(../images/plus-white-icon.png) no-repeat;}

.trigger_sticky { margin-top:-16px; float:right;padding:8px 13px;z-index:9999999; cursor: pointer; display:none;}
.triggeroff_sticky{background:url(../images/minus-white-icon.png) no-repeat;}
.triggeron_sticky{background:url(../images/plus-white-icon.png) no-repeat;}

.nofound_fullscreen{

position: fixed !important;

left: 50% !important;

top: 50% !important;

z-index:1007!important;	

margin-left:-150px;

margin-top: -40px;

}

.map_category_fullscreen{

	position:fixed!important;

	bottom:0px!important;

	right:0px!important;

	z-index:1006;	

}

.TopLeft_fullscreen{

z-index:1006!important;

background-image:none!important;

}

.triggermap_fullscreen{

z-index:1006!important;

position:fixed!important;

top:50px!important;

left:0px!important;

margin-top:50px!important;

margin-left:0px!important;

}

#map_loading{background:url('../images/ajax-loader.gif') no-repeat;height:16px;width:16px;width:260px;overflow:hidden;height:100px}

.top_banner_section { padding-bottom:8px; margin-bottom:25px; }

.top_banner_section_in { width:100%; padding:0px; margin:0 auto;  position:relative; }

.map_category { position:absolute; right:10px; bottom:0; padding:10px; z-index:10; background:url(../images/transparent-bg.png) repeat; color:#FFFFFF;  }

.map_category label { display:inline-block; padding:2px 0;  font:bold 13px Arial, Helvetica, sans-serif; }

.map_category label input { margin-right:4px; }

/* MAP FULL SCREEN CSS END ########################################################################## */

.geodir_map_container img{ max-width:inherit!important;}
.geodir_map_container { z-index:80;}

#directions-options #travel-mode {
padding: 5px;
width: 59%;
}
#directions-options #travel-units {
padding: 5px;
width: 39%;
}