/* RTL support */
/* @group Right to Left */
*[dir="rtl"] .geodir_form_row label,
*[dir="rtl"] .geodir_form_row .geodir_textfield,
*[dir="rtl"] .geodir_textarea,
*[dir="rtl"] .geodir_form_row select,
*[dir="rtl"] .geodir-breadcrumb ul li {
    float: right
}

*[dir="rtl"] .geodir_location_add_listing_country_chosen_div,
*[dir="rtl"] .geodir_location_add_listing_region_chosen_div,
*[dir="rtl"] .geodir_location_add_listing_city_chosen_div {
    float: right !important
}

*[dir="rtl"] .geodir_message_note {
    padding-right: 30%;
    padding-left: inherit
}

*[dir="rtl"] .chosen-container,
*[dir="rtl"] .geodir-chosen-container {
    text-align: right;
}

*[dir="rtl"] .chosen-container .chosen-single,
*[dir="rtl"] .geodir-chosen-container .chosen-single {
    overflow: visible;
    padding-right: 8px;
}

*[dir="rtl"] .chosen-container .chosen-single span,
*[dir="rtl"] .geodir-chosen-container .chosen-single span {
    margin-right: 0;
    margin-left: 26px;
    direction: rtl;
}

*[dir="rtl"] .chosen-container .chosen-single-with-deselect span,
*[dir="rtl"] .geodir-chosen-container .chosen-single-with-deselect span {
    margin-left: 38px;
}

*[dir="rtl"] .chosen-container .chosen-single div,
*[dir="rtl"] .geodir-chosen-container .chosen-single div {
    right: auto;
    left: 3px;
}

*[dir="rtl"] .chosen-container .chosen-single abbr,
*[dir="rtl"] .geodir-chosen-container .chosen-single abbr {
    right: auto;
    left: 26px;
}

*[dir="rtl"] .chosen-container .chosen-choices li,
*[dir="rtl"] .geodir-chosen-container .chosen-choices li {
    float: right;
}

*[dir="rtl"] .chosen-container .chosen-choices li.search-field input[type="text"],
*[dir="rtl"] .geodir-chosen-container .chosen-choices li.search-field input[type="text"] {
    direction: rtl;
}

*[dir="rtl"] .chosen-container .chosen-choices li.search-choice,
*[dir="rtl"] .geodir-chosen-container .chosen-choices li.search-choice {
    margin: 3px 5px 3px 0;
    padding: 3px 5px 3px 19px;
}

*[dir="rtl"] .chosen-container .chosen-choices li.search-choice .search-choice-close,
*[dir="rtl"] .geodir-chosen-container .chosen-choices li.search-choice .search-choice-close {
    right: auto;
    left: 4px;
}

*[dir="rtl"] .chosen-container.chosen-container-single-nosearch .chosen-search,
*[dir="rtl"] .chosen-container .chosen-drop,
*[dir="rtl"] .geodir-chosen-container.chosen-container-single-nosearch .chosen-search,
*[dir="rtl"] .geodir-chosen-container .chosen-drop {
    left: 9999px;
}

*[dir="rtl"] .chosen-container.chosen-container-single .chosen-results,
*[dir="rtl"] .geodir-chosen-container.chosen-container-single .chosen-results {
    margin: 0 0 4px 4px;
    padding: 0 4px 0 0;
}

*[dir="rtl"] .chosen-container .chosen-results li.group-option,
*[dir="rtl"] .geodir-chosen-container .chosen-results li.group-option {
    padding-right: 15px;
    padding-left: 0;
}

*[dir="rtl"] .chosen-container.chosen-container-active.chosen-with-drop .chosen-single div,
*[dir="rtl"] .geodir-geodir-chosen-container.chosen-container-active.chosen-with-drop .chosen-single div {
    border-right: none;
}

*[dir="rtl"] .chosen-container .chosen-search input[type="text"],
*[dir="rtl"] .geodir-chosen-container .chosen-search input[type="text"] {
    padding: 4px 5px 4px 20px;
    background: white url('chosen-sprite.png') no-repeat -30px -20px;
    background: url('chosen-sprite.png') no-repeat -30px -20px;
    direction: rtl;
}

/* @group Retina compatibility */
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-resolution: 144dpi) {
    *[dir="rtl"] .chosen-container .chosen-search input[type="text"],
    *[dir="rtl"] .geodir-chosen-container .chosen-search input[type="text"] {
        background-image: url('chosen-sprite@2x.png') !important;
        background-size: 52px 37px !important;
        background-repeat: no-repeat !important;
    }
}

/* @end */
*[dir="rtl"] .chosen-container.chosen-container-single .chosen-single div b,
*[dir="rtl"] .geodir-chosen-container.chosen-container-single .chosen-single div b {
    background-position: 6px 2px;
}

*[dir="rtl"] .chosen-container.chosen-container-single.chosen-with-drop .chosen-single div b,
*[dir="rtl"] .geodir-chosen-container.chosen-container-single.chosen-with-drop .chosen-single div b {
    background-position: -12px 2px;
}

*[dir="rtl"] .geodir-chosen-container .chosen-drop {
    right: -9999px;
    left: inherit
}

*[dir="rtl"] .geodir-chosen-container.chosen-with-drop .chosen-drop {
    right: 0;
    left: inherit
}

*[dir="rtl"] .geodir-chosen-container-multi .chosen-choices li.search-choice {
    margin: 3px 5px 3px 0
}

*[dir="rtl"] .geodir-chosen-container-multi .chosen-choices li {
    float: right
}

*[dir="rtl"] .geodir_map_container {
    direction: ltr
}

*[dir="rtl"] .geodir_full_page .geodir-cat-list ul li {
    padding-left: 0;
    padding-right: 15px;
    float: right;
    margin-right: 0;
    margin-left: 2%;
    direction: ltr;
}

/* @end */