.geodir-add-listing-container{
	#loginform{
		.login-username,.login-password{
			label{
				display: block;
			}
		}
	}

	.geodir_preview_button{
		margin-left: 20px;
		i{
			font-size: 12px;
			vertical-align: text-top;
		}
	}
}
/* business hours start */
.geodir_form_row .gd-bh-field {
	float: left;
	width: 70%;
}
.gd-bh-items {
	max-width: 480px;
}
.gd-bh-items table {
	width: 100%;
	border: none;
	margin: 1em 0;
}
.gd-bh-items table th,
.gd-bh-items table td {
	padding: 10px 5px;
	vertical-align: top;
	display: table-cell;
}
.gd-bh-items table td.gd-bh-time {
	padding-top: 2px;
	padding-bottom: 2px
}
.gd-bh-items table td {
	border: none;
	border-bottom: 1px dashed #eee;
}
.gd-bh-items table th {
	border: none;
	border-bottom: 2px solid #eee;
}
.gd-bh-items .gd-bh-time {
	text-align: center;
}
.gd-bh-items .gd-bh-day {
	text-align: left;
	padding-left: 10px;
	max-width: 90px;
}
.gd-bh-items .gd-bh-24hours {
	text-align: center;
	width: 100px;
}
.gd-bh-item-24hours .gd-bh-hours input[type="text"] {
	opacity: 0.67;
}
.gd-bh-open-hours .gd-bh-days-prevday.gd-bh-days-open {
	font-weight: bold;
}
.gd-bh-items .gd-bh-act {
	width: 25px;
	text-align: center;
	padding-top: 13px;
}
.gd-bh-item span.gd-bh-add:hover,
.gd-bh-item span.gd-bh-remove:hover {
	color: #333;
}
.gd-bh-item .gd-bh-time input[type="text"] {
	width: 5em;
	text-align: center;
	display: inline-block;
	padding: 3px 5px;
}
.gd-bh-item .gd-bh-time input[data-field-alt="open"] {
	margin-left: 0;
	margin-right: 0;
}
.gd-bh-item .gd-bh-time input[data-field-alt="close"] {
	margin-left: 0;
}
.gd-bh-item .gd-bh-hours {
	padding: 5px 0;
}
.gd-bh-item .gd-bh-closed {
	padding: 9px 0;
}
.gd-bh-item.gd-bh-item-closed input[type="checkbox"] {
	display: none !important;
}
.gd-bh-item {
	i, .svg-inline--fa {
		font-size: 110%;
		cursor: pointer;
	}
}
.gd-bh-item a {
	text-decoration: none;
}

// bit generalised but better than nothing
.ui-timepicker-div{
	font-size: 15px;
	line-height: 15px;
}
.geodir_form_row {
	.gd-tz-item {
		label {
			float: none;
			width: auto;
			margin-right: 10px;
		}
	}
	input[type=radio].gd-checkbox {
		margin: 4px 4px 0;
	}
}
.gd-bh-items {
	.gd-tz-item {
		td {
			padding-left: 10px;
		}

		input {
			width: 5em
		}
	}
}
/* business hours end */
.select2-selection_gd_field [type="radio"] {
	margin-right: 0;
	margin-left: 5px;
}
.gd-make-default-term
.gd-is-default-term {
	display: none;
}
.gd-term-handle .gd-default-term {
	font-weight: 600;
}
.gd-term-handle .gd-make-default-term {
	font-weight: normal;
}
.gd-make-default-term,
.gd-is-default-term {
	float: right;
	margin-right: 5px;
}
.gd-make-default-term {
	cursor: pointer;
	margin: 0;
	border: none;
	color: #0073aa;
	text-decoration: underline;
	padding: 0;
	clear: both;
}
.gd-make-default-term:hover {
	text-decoration: none;
}
.gd-term-handle .gd-term-checked .gd-make-default-term,
.gd-term-handle .gd-term-checked.gd-default-term .gd-is-default-term {
	display: inline-block !important;
}
.gd-term-handle .gd-term-checked.gd-default-term .gd-make-default-term {
	display: none !important;
}

#geodir_post_images{
	.inside{
		img{
			max-width: 100%;
			height: auto;
		}
	}
}

.geodir-add-files{
	.geodir-files-dropbox{
		border:4px dashed #ccc;
		min-height:100px;
		height:auto;
		padding:10px;
		text-align:center;
		margin: 10px 0;

		&.dragover{
			background: #1abfe466;
			border-color: #0b0b0b;
			* {
				pointer-events: none !important; // this is needed so the child elements dont affect the drag fiel over event
			}
		}

		.geodir-dropbox-title{
			font-weight: bold;
			font-size: 22px;
			color: #444;
			small{
				font-weight: initial;
				display: block;
				font-size: 14px;
			}
		}
		.geodir-dropbox-file-types,
		.geodir-dropbox-file-limit{
			font-size: 10px;
			color: #aaa;
		}

		.plupload-thumbs{
			border-top:1px solid #ccc; padding-top:10px;
		}

		.geodir_button{
			width: auto;
		}
	}
}

.bsui .geodir-add-files .geodir-files-dropbox {
	border: none;
	margin: 0;
}

.geodir_form_row .gd-bh-items table.fixed {
	position: inherit;
}

.avada-responsive .geodir_form_row, 
.fusion-body .geodir_form_row {
	width: 100%;
}

@media screen and (max-width: 782px) {
    .geodir_form_row .gd-bh-field {
        float: none;
        width: 100%;
    }

    .geodir_form_row .gd-bh-items {
        max-width: 100%;
        width: 100%;
    }

    .geodir_form_row .gd-bh-items .gd-bh-day {
        padding-left: 5px;
    }

    .geodir_form_row .gd-bh-items .gd-bh-24hours {
        width: auto;
    }

    .geodir_form_row .gd-bh-items .gd-tz-item td {
        padding: 10px 5px 5px 5px;
    }
}