/* business hours start */
.geodir_form_row .gd-bh-field {
	float: left;
	width: 70%;
}
.gd-bh-items {
	max-width: 420px;
}
.gd-bh-items table {
	width: 100%;
	border: none;
	margin: 1em 0;
}
.gd-bh-items table th,
.gd-bh-items table td {
	padding: 10px 5px;
	vertical-align: top;
}
.gd-bh-items table td.gd-bh-time {
	padding-top: 2px;
	padding-bottom: 2px
}
.gd-bh-items table td {
	border: none;
	border-bottom: 1px dashed #eee;
}
.gd-bh-items table th {
	border: none;
	border-bottom: 2px solid #eee;
}
.gd-bh-items .gd-bh-time {
	text-align: center;
}
.gd-bh-items .gd-bh-day {
	text-align: left;
	width: 90px;
	padding-left: 10px;
}
.gd-bh-items .gd-bh-act {
	width: 25px;
	text-align: center;
}
.gd-bh-item .gd-bh-time input[type="text"] {
	width: 90px;
	text-align: center;
	display: inline-block;
	padding: 3px 5px;
}
.gd-bh-item .gd-bh-hours {
	padding: 5px 0;
}
.gd-bh-item .gd-bh-closed {
	padding: 9px 0;
}
.gd-bh-item .fa {
	font-size: 125%;
	cursor: pointer;
}
.gd-bh-item a {
	text-decoration: none;
}
/* business hours end */
.select2-selection_gd_field [type="radio"] {
	margin-right: 0;
	margin-left: 5px;
}
.gd-make-default-term
.gd-is-default-term {
	display: none;
}
.gd-term-handle .gd-default-term {
    font-weight: 600;
}
.gd-term-handle .gd-make-default-term {
    font-weight: normal;
}
.gd-make-default-term,
.gd-is-default-term {
	float: right;
	margin-right: 5px;
}
.gd-make-default-term {
    cursor: pointer;
	margin: 0;
    border: none;
    color: #0073aa;
    text-decoration: underline;
    padding: 0;
	clear: both;
}
.gd-make-default-term:hover {
	text-decoration: none;
}
.gd-term-handle .gd-term-checked .gd-make-default-term,
.gd-term-handle .gd-term-checked.gd-default-term .gd-is-default-term {
	display: inline-block !important;
}
.gd-term-handle .gd-term-checked.gd-default-term .gd-make-default-term {
	display: none !important;
}