// The CSS for the listing/archive page.
body { // wrapping ina  body tag makes rules more specific
	ul.geodir-category-list-view {
		list-style: none !important;
		margin: 0 !important;
		padding: 0 !important;

		& > li {
			margin: 0;
			padding: 20px 0 0 0;
			clear: both;
			font-size: 12px;
		}

		li {

			p {
				clear: both;
				font-size: 14px;

			}

			.gd-rating {
				margin: 0;
				svg {
					margin: 0 1px;
				}
			}

			.geodir_post_meta {
				margin: 5px 0;
			}

			.geodir-control-nav {
				li {
					margin: 0 2px;
					a {
						height: 6px;
						width: 6px;
					}
				}
			}

			.gd-list-item-left {
				display: inline-block;
				width: 30%;
				//margin-right: 3%;
				padding-right: 3%;
				float: left;

				.geodir-post-img {
					box-sizing: border-box;
					display: inline-block;
					position: relative;
					width: 100%;
					background: #fff;
					padding: 1%;
					float: left;
					margin-right: 3%;

					.geodir_thumbnail {
						min-width: 100%;
						max-width: 100%;
						margin: 0;
						padding: 0;
						float: left;
						width: 100px;
						background-position: 50% 50%;
						background-repeat: no-repeat;
						background-size: cover;
						position: absolute;
						top: 0;
						bottom: 0;
						left: 0;
						right: 0;
						border-radius: 3px;
						&.geodir_lazy_load_thumbnail {
							opacity: 0;
							transition: opacity .5s ease-in;
							image-rendering: optimizequality;
						}
					}

					&:after {
						content: '';
						display: block;
						margin-top: 65%;
					}
				}
			}

			.gd-list-item-right {
				display: inline-block;
				vertical-align: top;
				width: 67%;
				float: left;

				.geodir-post-info {
					font-size: 12px;
					margin-top: 5px;

					& > span {
						float: left;
					}

					.gd-rating {
						margin: 0;
					}

					.gd-list-rating-stars,
					.gd-list-rating-text {
						display: inline-block;
					}

					.gd-list-favorite {
						float: right;
					}
				}

				.geodir-field-post_content {
					text-align: justify;
					max-height: 120px;
					position: relative;
					overflow: hidden;
					clear: both;
					p {
						margin: 0;
						padding: 0;
					}

					.gd-read-more {
						display: none;
						position: absolute;
						bottom: 0;
						left: 0;
						width: 100%;
						text-align: center;
						margin: 0;
						padding: 30px 0 0 0;
						background-image: linear-gradient(to bottom, transparent, #FFF);
					}
				}

			}

			h2 {
				margin: 0;
				padding: 0;
				font-size: 14px;
				font-weight: bold;
				a {
					//color: #505050;
				}
			}
		}

		// grid view
		&.geodir-gridview {

			& > li {
				width: auto;
				margin-bottom: 15px;
				display: inline-block;
				vertical-align: top;

				.gd-list-item-left, .gd-list-item-right {
					display: block;
					width: 100%;
					float: none;
					padding: 0;
					margin: 0;
					clear: both;
				}
			}

			&.gridview_onehalf {
				& > li {
					width: 48%;
				}
				& > li:nth-child(2n+0) {
					margin-left: 4%;
				}
			}

			&.gridview_onethird {
				& > li {
					width: 32%;
					margin-left: 2%;
				}
				& > li:nth-child(3n+1) {
					margin-left: 0;
				}
			}

			&.gridview_onefourth {
				& > li {
					width: 23%;
					margin-left: 2.66%;
				}
				& > li:nth-child(4n+1) {
					margin-left: 0;
				}
			}

			&.gridview_onefifth {
				& > li {
					width: 18%;
					margin-left: 2.5%;
				}
				& > li:nth-child(5n+1) {
					margin-left: 0;
				}
			}

		}

		@media only screen and (max-width: $media-tablet) {
			& > li {
				width: auto;
				margin-bottom: 15px;
				display: inline-block;
				vertical-align: top;

				.gd-list-item-left, .gd-list-item-right {
					display: block;
					width: 100%;
					float: none;
					padding: 0;
					margin: 0;
					clear: both;
				}
			}

			& > li {
				width: 48% !important;
				margin-left: 0 !important;
			}
			& > li:nth-child(2n+0) {
				margin-left: 4% !important;
			}
		}

		@media only screen and (max-width: $media-phone-small) {
			& > li {
				width: 100% !important;
				margin-left: 0 !important;
			}
			& > li:nth-child(2n+0) {
				margin-left: 0 !important;
			}
		}
	}
}

.geodir-meta-inline{
	display: inline;
	margin-right: 5px;
}

// pagination css

.geodir-pagination{

	ul.page-numbers{
		list-style: none !important;
		border-top: 1px #eee solid;
		overflow: hidden;
		min-width: 170px;
		margin: 0;
		padding: 20px 0 !important;
		li{
			position: relative;
			float: left;
			padding: 6px 12px;
			line-height: 1.42857143;
			text-decoration: none;
			background-color: #fff;
			border: 1px solid #eee;
			border-right: none;
			margin: 0;

			&:first-child{
				border-top-left-radius: 4px;
				border-bottom-left-radius: 4px;
			}
			&:last-child{
				border-top-right-radius: 4px;
				border-bottom-right-radius: 4px;
				border-right: 1px solid #eee;
			}

		}
	}
}


// author actions
.gd-author-actions{
	&> span:nth-child(n+2){
		padding-left: 10px;
	}
}

// sortby select
.geodir-sort-by{
	min-width: 100px;
}

// View all link
.widget-title {
	.geodir-viewall {
		font-weight: normal;
		display: inline-block;
		float: right;
		text-transform: inherit;
	}
}