.gd-notification{
  display: inline-block;
  text-align: left;
  margin: 0;
  vertical-align: middle;
  background: #0074d9;
  color: #fff;
  border: 0;
  border-radius: 3px;
  //-webkit-touch-callout: none;
  //-webkit-user-select: none;
  //-khtml-user-select: none;
  //-moz-user-select: none;
  //-ms-user-select: none;
  //user-select: none;
  font-size: 14px;
  padding: 15px 15px;
  line-height: 20px;
  width: 100%;
  box-sizing: border-box;

  &:empty{
    display: none;
  }

  a{
    color: #fff;
    text-decoration: underline;
    &:visited {
      color: #fff;
    }
    &:hover {
      color: #ccc;
    }
    &:active {
      color: #fff;
    }
  }

  // @todo we need to add different types here
  &.gd-info{

  }

  &.gd-warn{
    background: #fb887b;
  }

  &.noti-white{
    background: white;
    color: #555;
    a{
      color: #555;
      text-decoration: underline;
      &:visited {
        color: #555;
      }
      &:hover {
        color: #ccc;
      }
      &:active {
        color: #555;
      }
    }
  }
}