.geodir-output-location {
	display: inline-block;
	width: 100%;
	.geodir-output-location-detail{
		.geodir_post_meta{
			border-bottom: 1px solid #eee;
			line-height: 19px;
			margin: 5px 0 10px;
			padding: 5px 0 15px;
		}
	}
}