.gd-fav-info-wrap{

  a{
    vertical-align: top;
    line-height: 19px;
  }
  &.gd-fav-hide-text{
    span.geodir-fav-text{
      color: transparent;
      font-size: 0;
    }
  }

  &.gd-fav-hide-stars{
    a{
      .fa-heart{
        display: none;
      }
    }
  }
}