/* tabs */
#geodir-tab-mobile-menu{display: none;}
#geodir-tab-mobile-menu {
  font-size: 30px;
  border: 1px #ccc solid;
  padding: 15px;
}

#geodir-tab-mobile-menu i.fa-sort-desc{
  float: right;
  margin-top: -5px;
}

.geodir-tabs{
  dl.geodir-tab-head {
    margin: 0px;
    height: auto;
    //border-bottom: 1px #e1e1e1 solid;
    display: block;
    margin-top: 0;
    position: relative;
    z-index: 1;
    i{
      padding-right: 5px;
    }
  }

  dl.geodir-tab-head dd {
    height: 48px;
    float: left;
    display: block;
    cursor: pointer;
    margin: 0;
    padding: 0;
  }

  dl.geodir-tab-head dd a {
    font-weight: bold;
    height: 48px;
    line-height: 48px;
    padding: 0 11px;
    font-size: 13px;
    display: block;
    font-weight: normal;
    border: 1px solid #e1e1e1;
    border-right: none;
    border-bottom: none;
    box-shadow: none;
  }

  dl.geodir-tab-head dd.geodir-tab-active a {
    background: #FFFFFF;
    cursor: default;
    border-bottom: none;
    border-top: 1px #45B8F2 solid;
    box-sizing: content-box;
  }

  dl.geodir-tab-head dd:last-child {
    border-right: 1px #e1e1e1 solid;
  }

  ul.geodir-tabs-content {
    margin: 0 0 10px 0;
    padding: 0;
    min-height: 350px;
    border: 1px #e1e1e1 solid;
    clear: both;
    //border-top: none;
    #reviewsTab{
      .comments-area{
        margin: 0;
        padding: 0;
      }
    }
  }

  .geodir-tabs-content > li {
    clear: left;
  }

  .geodir-post-meta-container{
    border-bottom: 1px solid #e1e1e1;
    padding: 10px 0;
    &:last-child{
      border-bottom: none;
    }
    &:first-child{
      padding-top: 0;
    }
  }
}
