.geodir-dashboard {
  ul.geodir-loginbox-list {
    margin: 0;
    padding: 0;
    width: 100%;
    li {
      list-style: none;
      display: block;
      padding-bottom: 10px;
      margin-bottom: 0;

      select.geodir-select {
        width: 100%;
      }
    }
  }
}