<!-- wp:template-part {"slug":"header"} /-->

<!-- wp:geodirectory/geodir-widget-notifications {"content":"","sd_shortcode":"[gd_notifications]","className":"wp-block-geodirectory-geodir-widget-notifications"} /-->

<!-- wp:geodirectory/geodir-widget-add-listing {"content":"","sd_shortcode":"[gd_add_listing post_type=''  show_login='true'  login_msg=''  container=''  mapzoom='0'  label_type=''  bg=''  mt=''  mr=''  mb='3'  ml=''  pt=''  pr=''  pb=''  pl=''  border=''  rounded=''  rounded_size=''  shadow='' ]"} -->
<div class="wp-block-geodirectory-geodir-widget-add-listing"></div>
<!-- /wp:geodirectory/geodir-widget-add-listing -->

<!-- wp:template-part {"slug":"footer"} /-->
