<!-- wp:template-part {"slug":"header"} /-->

<!-- wp:geodirectory/geodir-widget-notifications -->
<div class="wp-block-geodirectory-geodir-widget-notifications">[gd_notifications]</div>
<!-- /wp:geodirectory/geodir-widget-notifications -->

<!-- wp:geodirectory/geodir-widget-categories {"hide_empty":true,"content":""} -->
<div class="wp-block-geodirectory-geodir-widget-categories">[gd_categories title=''  post_type='0'  cpt_title='false'  title_tag='h4'  cpt_ajax='false'  filter_ids=''  hide_empty='true'  hide_count='false'  hide_icon='false'  use_image='false'  image_size='medium'  cpt_left='false'  sort_by='count'  max_level='1'  max_count='all'  max_count_child='all'  no_cpt_filter='false'  no_cat_filter='false' ]</div>
<!-- /wp:geodirectory/geodir-widget-categories -->

<!-- wp:geodirectory/geodir-widget-map {"show_advanced":true,"height":"425px","map_type":"directory","search_filter":true,"post_type_filter":true,"cat_filter":true,"child_collapse":true} -->
<div class="wp-block-geodirectory-geodir-widget-map">[gd_map title=''  width='100%'  height='425px'  maptype='ROADMAP'  zoom='0'  map_type='directory'  post_settings='true'  post_type=''  terms=''  tick_terms=''  tags=''  all_posts='false'  post_id=''  search_filter='true'  post_type_filter='true'  cat_filter='true'  child_collapse='true'  map_directions='false'  scrollwheel='false'  sticky='false'  static='false'  country=''  region=''  city=''  neighbourhood='' ]</div>
<!-- /wp:geodirectory/geodir-widget-map -->

<!-- wp:geodirectory/geodir-widget-search {"content":""} -->
<div class="wp-block-geodirectory-geodir-widget-search">[gd_search post_type=''  post_type_hide='false' ]</div>
<!-- /wp:geodirectory/geodir-widget-search -->

<!-- wp:geodirectory/geodir-widget-listings {"post_limit":6,"content":""} -->
<div class="wp-block-geodirectory-geodir-widget-listings">[gd_listings title=''  post_type='gd_place'  category=''  related_to=''  tags=''  post_author=''  post_limit='6'  post_ids=''  package_ids=''  add_location_filter='true'  show_featured_only='false'  show_special_only='false'  with_pics_only='false'  with_videos_only='false'  show_favorites_only='false'  favorites_by_user=''  use_viewing_post_type='false'  use_viewing_term='false'  sort_by=''  title_tag='h3'  layout='2'  view_all_link='true'  with_pagination='false'  top_pagination='false'  bottom_pagination='true'  pagination_info=''  hide_if_empty='false'  with_carousel=''  with_indicators=''  with_controls=''  slide_interval='5'  slide_ride=''  linked_posts=''  linked_post_id=''  country=''  region=''  city=''  neighbourhood='' ]</div>
<!-- /wp:geodirectory/geodir-widget-listings -->

<!-- wp:template-part {"slug":"footer"} /-->