<!-- wp:template-part {"slug":"header"} /-->

<!-- wp:geodirectory/geodir-widget-notifications {"content":"","sd_shortcode":"[gd_notifications]","className":"wp-block-geodirectory-geodir-widget-notifications"} /-->

<!-- wp:geodirectory/geodir-widget-search {"content":"","sd_shortcode":"[gd_search hide_search_input='false'  hide_near_input='false'  input_size=''  bar_flex_wrap=''  bar_flex_wrap_md=''  bar_flex_wrap_lg=''  input_border=''  input_border_opacity=''  input_rounded_size=''  btn_bg=''  btn_rounded_size=''  btn_rounded_size_md=''  btn_rounded_size_lg=''  bg=''  mt=''  mr=''  mb='3'  ml=''  pt=''  pr=''  pb=''  pl=''  border=''  rounded=''  rounded_size=''  rounded_size_md=''  rounded_size_lg=''  shadow=''  css_class='' ]"} -->
<div class="wp-block-geodirectory-geodir-widget-search"></div>
<!-- /wp:geodirectory/geodir-widget-search -->

<!-- wp:geodirectory/geodir-widget-loop-actions {"content":"","sd_shortcode":"[gd_loop_actions hide_layouts=''  btn_size=''  btn_style=''  btn_bg=''  btn_border=''  text_color=''  text_align=''  text_align_md=''  text_align_lg=''  bg=''  mt=''  mr=''  mb='3'  ml=''  mt_md=''  mr_md=''  mb_md=''  ml_md=''  mt_lg=''  mr_lg=''  mb_lg=''  ml_lg=''  pt=''  pr=''  pb=''  pl=''  pt_md=''  pr_md=''  pb_md=''  pl_md=''  pt_lg=''  pr_lg=''  pb_lg=''  pl_lg=''  border=''  border_type=''  border_width=''  border_opacity=''  rounded=''  rounded_size=''  shadow=''  display=''  display_md=''  display_lg=''  css_class='' ]"} -->
<div class="wp-block-geodirectory-geodir-widget-loop-actions"></div>
<!-- /wp:geodirectory/geodir-widget-loop-actions -->

<!-- wp:geodirectory/geodir-widget-loop {"content":"","sd_shortcode":"[gd_loop layout='2'  row_gap=''  column_gap=''  card_border=''  card_shadow=''  bg=''  mt=''  mr=''  mb=''  ml=''  pt=''  pr=''  pb=''  pl=''  border=''  rounded=''  rounded_size=''  shadow=''  template_type=''  tmpl_page=''  tmpl_part='' ]"} -->
<div class="wp-block-geodirectory-geodir-widget-loop"></div>
<!-- /wp:geodirectory/geodir-widget-loop -->

<!-- wp:geodirectory/geodir-widget-loop-paging {"content":"","sd_shortcode":"[gd_loop_paging show_advanced=''  mid_size=''  mid_size_sm=''  paging_style=''  size=''  size_sm=''  ap_text_color=''  ap_font_size=''  ap_pt=''  ap_pr=''  ap_pb=''  ap_pl=''  bg=''  mt=''  mr=''  mb='3'  ml=''  mt_md=''  mr_md=''  mb_md=''  ml_md=''  mt_lg=''  mr_lg=''  mb_lg=''  ml_lg=''  pt=''  pr=''  pb=''  pl=''  pt_md=''  pr_md=''  pb_md=''  pl_md=''  pt_lg=''  pr_lg=''  pb_lg=''  pl_lg=''  border=''  border_type=''  border_width=''  border_opacity=''  rounded=''  rounded_size=''  shadow=''  display=''  display_md=''  display_lg=''  css_class='' ]"} -->
<div class="wp-block-geodirectory-geodir-widget-loop-paging"></div>
<!-- /wp:geodirectory/geodir-widget-loop-paging -->

<!-- wp:template-part {"slug":"footer"} /-->
