<!-- wp:template-part {"slug":"header"} /-->

<!-- wp:geodirectory/geodir-widget-notifications {"content":"","sd_shortcode":"[gd_notifications]","className":"wp-block-geodirectory-geodir-widget-notifications"} /-->

<!-- wp:geodirectory/geodir-widget-post-images {"show_advanced":true,"type":"slider","show_caption":true,"content":"","sd_shortcode":"[gd_post_images title=''  id=''  types=''  fallback_types=''  ajax_load='true'  limit=''  limit_show=''  css_class=''  type='slider'  slideshow='true'  controlnav='1'  animation='slide'  show_title='true'  show_caption='true'  image_size=''  aspect=''  cover=''  link_to=''  link_screenshot_to=''  bg=''  mt=''  mr=''  mb=''  ml=''  pt=''  pr=''  pb=''  pl=''  border=''  rounded=''  rounded_size=''  shadow='' ]"} -->
<div class="wp-block-geodirectory-geodir-widget-post-images"></div>
<!-- /wp:geodirectory/geodir-widget-post-images -->

<!-- wp:geodirectory/geodir-widget-single-taxonomies {"content":"","sd_shortcode":"[gd_single_taxonomies taxonomy=''  prefix=''  link_style=''  link_color=''  link_color_custom=''  link_icon='false'  mt=''  mr=''  mb='2'  ml=''  pt=''  pr=''  pb=''  pl='' ]"} -->
<div class="wp-block-geodirectory-geodir-widget-single-taxonomies"></div>
<!-- /wp:geodirectory/geodir-widget-single-taxonomies -->

<!-- wp:geodirectory/geodir-widget-single-tabs {"content":"","sd_shortcode":"[gd_single_tabs show_as_list='false'  output=''  tab_style=''  disable_greedy='false'  remove_separator_line='false'  hide_icon='false'  heading_tag=''  heading_font_size=''  heading_text_color=''  heading_text_color_custom=''  heading_font_weight=''  lists_mb=''  mt=''  mr=''  mb=''  ml=''  mt_md=''  mr_md=''  mb_md=''  ml_md=''  mt_lg='3'  mr_lg=''  mb_lg=''  ml_lg=''  pt=''  pr=''  pb=''  pl=''  pt_md=''  pr_md=''  pb_md=''  pl_md=''  pt_lg=''  pr_lg=''  pb_lg=''  pl_lg=''  border=''  border_type=''  border_width=''  border_opacity=''  rounded=''  rounded_size=''  shadow=''  display=''  display_md=''  display_lg=''  css_class='' ]"} -->
<div class="wp-block-geodirectory-geodir-widget-single-tabs"></div>
<!-- /wp:geodirectory/geodir-widget-single-tabs -->

<!-- wp:geodirectory/geodir-widget-single-next-prev {"mt":"4","content":"","sd_shortcode":"[gd_single_next_prev bg=''  mt='4'  mr=''  mb='3'  ml=''  pt=''  pr=''  pb=''  pl=''  border=''  rounded=''  rounded_size=''  shadow='' ]"} -->
<div class="wp-block-geodirectory-geodir-widget-single-next-prev"></div>
<!-- /wp:geodirectory/geodir-widget-single-next-prev -->

<!-- wp:template-part {"slug":"footer"} /-->
