<!-- wp:template-part {"slug":"header"} /-->

<!-- wp:geodirectory/geodir-widget-notifications -->
<div class="wp-block-geodirectory-geodir-widget-notifications">[gd_notifications]</div>
<!-- /wp:geodirectory/geodir-widget-notifications -->

<!-- wp:geodirectory/geodir-widget-search {"content":""} -->
<div class="wp-block-geodirectory-geodir-widget-search">[gd_search post_type=''  post_type_hide='false' ]</div>
<!-- /wp:geodirectory/geodir-widget-search -->

<!-- wp:geodirectory/geodir-widget-loop-actions {"content":""} -->
<div class="wp-block-geodirectory-geodir-widget-loop-actions">[gd_loop_actions hide_layouts='' ]</div>
<!-- /wp:geodirectory/geodir-widget-loop-actions -->

<!-- wp:geodirectory/geodir-widget-loop {"content":""} -->
<div class="wp-block-geodirectory-geodir-widget-loop">[gd_loop layout='2' ]</div>
<!-- /wp:geodirectory/geodir-widget-loop -->

<!-- wp:geodirectory/geodir-widget-loop-paging {"content":""} -->
<div class="wp-block-geodirectory-geodir-widget-loop-paging">[gd_loop_paging show_advanced='' ]</div>
<!-- /wp:geodirectory/geodir-widget-loop-paging -->

<!-- wp:template-part {"slug":"footer"} /-->